*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 550px 50px 150px  ;
    border-radius: 5px;
}

.container h1{
    font-size: 25px;
    font-weight: 500;
}

.container h1::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

.license{
    width: 48%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    top: 80px;
    width: 400px;
    background: #fff;
    padding: 0px;
    text-align: center;
}
.card img{
    width: 150px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}
label{
    display: block;
    width: 150px;
    background: #9b59b6;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
.card input{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
    padding: 0 0 0 350px;
}
form .button input{
    height: 100%;
    width: 80%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1p;
    cursor: pointer;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

form .button input:hover{
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}